<%= link_to '/' do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
<% end %>

<div class="signup-style">
  <%= image_tag("iconmarqit.png", :alt => "marqit icon", class: "marqit-icon") %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :first_name,
    required: true,
    autofocus: true,
    input_html: { autocomplete: "first name" }%>
    <%= f.input :last_name,
    required: true,
    autofocus: true,
    input_html: { autocomplete: "last name" }%>
    <%= f.input :email,
    required: true,
    autofocus: true,
    input_html: { autocomplete: "email" }%>
    <%= f.input :password,
    required: true,
    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
    input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
    required: true,
    input_html: { autocomplete: "new-password" } %>

        <div class="container profile_image_upload">
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <label for="photo"><i class="fas fa-camera"></i></label>
                    <input class="form-control-file file optional" type="file" name="user[photo]" id="photo" accept=".png, .jpg, .jpeg">
                 <%= f.input :photo, label: false, wrapper_html: { class: 'd-none'} %>
                 <%= f.input :photo_cache, as: :hidden %>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(http://gazdaglanguageempire.com/img/profile_placeholder_green.svg);">
                    </div>
                </div>
            </div>
        </div>
 </div>

 <div class="form-actions">
  <%= f.button :submit, "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
