<div class="navbar-curvy">
  <%= link_to events_path do  %>
    <%= image_tag("svg/calendar-60.svg", :alt => "calnder") %>
<!--     <img
      src="svg/calendar-60.svg"
      height="87"
      width="100" /> -->
  <% end %>
  <%= link_to new_report_path do  %>
  <button id="report-btn">REPORT</button>
  <% end %>
    <%= link_to dashboard_path do  %>
    <%= image_tag("svg/single-01.svg", :alt => "my profile") %>
  <% end %>
</div>
