<div class="navbar-curvy">
  <div class="navbar_icons tick">
  <%= link_to events_path, class: "nav-bar-affect" do  %>
    <%= image_tag("svg/calendar-60.svg", :alt => "calendar") %>
  <% end %>
</div>

  <%= link_to new_report_path, class: "report_button" do  %>
    <button id="report-btn" class="p-0">REPORT</button>
  <% end %>
  <div class="navbar_icons tick">
    <%= link_to dashboard_path, class: "nav-bar-affect" do  %>
    <%= image_tag("svg/single-01.svg", :alt => "my profile") %>
  <% end %>
  </div>
</div>
