<div class="title-events">
<div class="nav-icons">
  <%= link_to '/' do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>
<h1 id="events-title">Events</h1>
<h2 class="second-event-title"> Make your Marq in <span class="highlight tel-aviv2">Tel Aviv</span></h2>
</div>
<div class="all-events">
  <% @events.each do |event| %>
  <%= link_to event_path(event) do %>
  <div class ="tab-style-event">
    <div class="card-product-event">
       <%= cl_image_tag event.photo %>
      <div class="card-product-infos-events">
        <%= image_tag("greenstroke.png", id: "green_splash") %>
        <h2> <%= event.description %></h2>
        <p><%= event.name %></p>
        <p><%= event.location %></p>
        <p><%= event.date.strftime("%d/%m/%Y") %></p>
        <i class="fas fa-chevron-circle-right" id="right_arrow_event"></i>
      </div>
    </div>
 </div>
  <% end %>
  <% end %>
</div>

