<h1>All The Events In Your City</h1>
<div class="all-events">
  <% @events.each do |event| %>
  <div class="all-events">
     <%= cl_image_tag event.photo %>
    <p> <%= event.description %></p>
    <h2><%= event.name %></h2>
    <h4><%= event.location %></h4>
    <%= link_to 'details', event_path(event) %>
    <p><%= event.date %></p>
  </div>
  <% end %>
</div>
