<div class="nav-icons">
  <%= link_to '/' do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>

<h1 id="events-title">All The Events In Your City</h1>
<div class="all-events">
  <% @events.each do |event| %>
  <%= link_to event_path(event) do %>
  <div class ="tab-style">
    <div class="card-product">
       <%= cl_image_tag event.photo %>
      <div class="card-product-infos">
        <h2> <%= event.description %></h2>
        <p><%= event.name %></p>
        <p><%= event.location %></p>
        <p><%= event.date.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
 </div>
  <% end %>
  <% end %>
</div>

