<div class="nav-icons">
  <%= link_to events_path do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>

<div id="event-show">
  <%= cl_image_tag @event.photo %>
  <h2><%= @event.name %></h2>
  <p><%= @event.description %></p>
  <h4><%= @event.location %></h4>
  <p><%= @event.date.strftime("%d/%m/%Y at: %I:%M%p") %></p>

</div>
<%= simple_form_for([@event, @attendance]) do |f|%>
  <%= f.submit class: "next_text" %>
<% end %>


<div class="messages-all">
  <%= @chat_room.messages.each do |message| %>
    <%= render "messages/message", 'message' :message %>
  <% end %>
  <div id="create-message">
    <%= simple_form_for [ @chat_room, Message.new ], remote :true do |f| %>
      <%= f.input :content, label: false %>
    <% end %>
  </div>

  <div class="message <%= message.from?(current_user) ? "right" : "" %>">
    <%= message.user.avatar_url %>
    <div class="message-content"><%= message.text %></div>
  </div>
</div>
