  <%= cl_image_tag @event.photo %>
  <h2><%= @event.name %></h2>
  <p><%= @event.description %></p>
  <h4><%= @event.location %></h4>
  <p><%= @event.date %></p>


<%= simple_form_for([@event, @attendance]) do |f|%>
  <%= f.submit %>
<% end %>
<!--
 <div class="form-group">
  <label for="your-message">Your comment</label>
  <textarea type="text" name="content" id="your-message" class="form-control" placeholder="Here is my message.."></textarea>
</div>
<input type="submit" value="Send" class="btn btn-primary">

<div id="messages">
  <ul class="list unstyle" id="messages-list">
    <li>A sample message (posted <span class="date">10 minutes ago</span>) by John</li>
  </ul>
  <button class="btn btn-danger" id="refresh">Refresh Chat</button>
</div>
 -->
