<div class="nav-icons">
  <%= link_to events_path do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>

<div id="event-show">
  <h2 class="event-header"><%= @event.description %></h2>
  <%= cl_image_tag @event.photo, class: "event-picture"%>
  <p class="event-description"><%= @event.name %></p>
  <h4><%= @event.location %></h4>
  <p><%= @event.date.strftime("%d/%m/%Y at: %I:%M%p") %></p>
  <p>attending:<%= @event.attendances.length %></p>

  <% if current_user.attending?(@event)%>
    <div class="unattend_button">
      <%= link_to "Unattend", attendance_path(@attendance), method: :delete, data: { confirm: 'Are you sure you want to Unattend?'}, class: "next_text" %>
    </div>
  <% else %>
    <%= simple_form_for([@event, @attendance]) do |f|%>
      <%= f.submit "Attend", class: "next_text attend_button" %>
    <% end %>
  <% end %>
</div>
<!-- <h1 id="btn-form"> -->


<div class="chat-header"><h3><%= @chat_room.name %></h3></div>
<div class="messages-all">
  <div class="message_container">
    <% @chat_room.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div id="create-message">
    <%= simple_form_for [@chat_room, Message.new ], remote: true do |f| %>
      <%= f.input :text, label: false, placeholder: "Type here", input_html: {id: "event_message_input"} %>
      <div class="event_message_submit_div">
        <%= f.submit "Send message", class: "next_text" %>
      </div>
    <% end %>
  </div>
</div>




















