<div class="nav-icons">
  <%= link_to '/' do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>
<div class="avatar-profile"><%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
</div>
<h1 id="dashboard_greeting">Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myreports" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="true">My Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">My Events</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="reports" role="tabpanel" aria-labelledby="reports-tab">
    <% @reports.each do |report| %>
      <%= image_tag report.photo %>
      <p> <%= report.description %></p>
      <h2><%= report.category %></h2>
      <h4><%= report.upvote %></h4>
      <h4><%= report.location %></h4>
      <p><%= report.date %></p>
    <% end %>
</div>

  <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
    <% @events.each do |event| %>
      <%= image_tag event.photo %>
      <p> <%= event.description %></p>
      <h2><%= event.name %></h2>
      <h4><%= event.location %></h4>
      <%= link_to 'details', event_path(event) %>
      <p><%= event.date %></p>
    <% end %>
  </div>

</div>
