<div class="nav-icons">
  <%= link_to '/' do %>
  <%= image_tag("icons/arrow_left.svg", :alt => "arrow left", class: "arrow_left_icon") %>
  <% end %>

  <%= link_to '/' do %>
  <%= image_tag("icons/close.svg", :alt => "cancel", class: "cancel_icon") %>
  <% end %>
</div>
<div class="avatar-profile"> <%= current_user.photo.url ? cl_image_tag(current_user.photo, class: "avatar-large" ) : (image_tag "caticon.png", alt: "alttext", class: "avatar-large") %>
</div>

<h1 id="dashboard_greeting">Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myreports" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="true">My Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">My Events</a>
  </li>
</ul>

<!-- Tab panes -->

<div class="tab-content">
  <div class="tab-pane active" id="reports" role="tabpanel" aria-labelledby="reports-tab">
      <% @reports = @reports.sort_by(&:created_at).reverse  %>
      <% @reports.each do |report| %>
    <div class ="tab-style">
      <div class="card-product">
        <%= cl_image_tag report.photo %>
        <div class="card-product-infos">
          <h2> <%= report.description %></h2>
          <p><%= report.category %></p>

          <div class="report-votes-user">
          <i class="fa fa-thumbs-up" aria-hidden="true" id="userthumbs"></i>
          <p id="likes-number"><%= report.upvote %></p>
          </div>
          <p><%= report.location %></p>
        </div>
      </div>
    </div>
      <% end %>
</div>

  <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
    <% if @events.empty? %>
    <div class="no_events">
    <p class="no_events_text">You are not attending any events!</p>
    <p id="get_started"> Get started!</p>
    <%= link_to events_path do %>
    <% image_tag("svg/calendar-60.svg", :alt => "calendar ") %>
    <% end %>
    </div>
    <% else %>
    <% @events.each do |event| %>
    <div class ="tab-style">
      <div class="card-product">
        <%= cl_image_tag event.photo %>
        <div class="card-product-infos">
          <h2> <%= event.description %></h2>
          <p><%= event.name %></p>
          <p><%= event.location %></p>
          <%= link_to 'details', event_path(event) %>
          <p><%= event.date.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>


