<div class="card">
  <!-- left -->
  <div class="card-aside">

    <%= cl_image_tag report.photo, class: "card-image" %>

  </div>
  <!-- end of left -->

  <!-- right -->
  <div class="card-main">
    <div class="card-category-organize d-flex">
      <%= case report.category
      when "Road Block"
        image_tag("icons/road_block.png", class: "icon_image_popup")
      when "Trash"
        image_tag('icons/trash_can.png', class: "icon_image_popup")
      when "Traffic Light"
        image_tag('icons/traffic_light_2.png', class: "icon_image_popup")
      when "Sewage"
        image_tag('icons/sewer.png', class: "icon_image_popup")
      when "Pothole"
        image_tag('icons/pothole.svg', class: "icon_image_popup")
      when "other"
        image_tag('icons/other.png', class: "icon_image_popup")
      when "Street Light"
        image_tag('icons/broken_light.png', class: "icon_image_popup")
      when "Exterminate"
        image_tag('icons/rat.png', class: "icon_image_popup")
        end %>
        <h3 class="card-title"><%= report.category %></h3>
      </div>

      <p class="card-excerpt"><%= report.location.match(/(?<address>.*), Israel/i)[:address] %></p>
        <% unless report.description == "" %>
        <p class="card-description"><%= report.description %></p>
        <% end %>

        <div class="upvotes">
          <div class="container">
            <button class="like__btn animated">
              <div class="upvotemachine"><%= link_to vote_up_report_path(report), :method => :post, remote: true do %></div>
              <i class="like__icon fa fa-thumbs-up fa-2x like can-vote" aria-hidden="true"></i>
              <% end %>
              <div class="product-upvote like__number" data-report-id="<%= report.id %>" >
                <span data-report-id="<%= report.id %>" class="upvote_number"><%= report.votes.count %></span>
              </div>
            </button>
          </div>
        </div>

      </div>
