  <div class="product-card">
    <div class="product-tumb">
     <p><%= cl_image_tag report.photo %></p>
   </div>

   <div class="product-details">
    <p class="card-address"><span class="text-topic"></span><%= report.location %></p>
    <span class="product-catagory"><h3 class="card-category"><%= report.category %></h3></span>
    <p class="card-description"><span class="text-topic">Description: </span><%= report.description %></p>
    <div class="product-bottom-details">
      <div class="product-upvote">Upvotes: <%= report.votes.count %></div>
      <div class="upvotemachine"><%= link_to vote_up_report_path(report), :method => :post do %></div>
        <i class="fa fa-thumbs-up" id="thumbsup"></i>
        <% end %>
      <div class="product-links">
      </div>
    </div>
  </div>
</div>
