<div class="reportcard">
  <% @reports.each do |report| %>
  <div class="card-image">
    <%= report.photo %></p>
  </div>
  <h3 class="card-name"><%= report.category %></h3>
  <div class="card-text">
    <p class="card-address"><span class="text-topic">Location:</span><%= report.location %></p>
    <p class="card-cost"><span class="text-topic">Description:</span><%= report.description %></p>
    <p class="card-cost"><span class="text-topic">Upvotes:</span><%= report.upvote %></p>
    <p class="card-cost"><span class="text-topic">User:</span><%= report.user.first_name %></p>
  </div>
  <% end %>
</div>
