  <div class="product-card">
    <div class="product-tumb">
     <%= cl_image_tag report.photo, crop: :scale, height: 200, width: 125, class: "card-image" %>
   </div>
   <div class="product-details ml-2" data-report-id="<%= report.id %>">
    <div class="card-category-organize">
    <h3 class="card-category"><span class="product-category"><%= report.category %></span></h3>
    <%= case report.category
      when "Road Block"
        image_tag("icons/road_block.png", class: "icon_image_popup")
      when "Trash"
        image_tag('icons/trash_can.png', class: "icon_image_popup")
      when "Traffic Light"
        image_tag('icons/traffic_light_2.png', class: "icon_image_popup")
      when "Sewage"
        image_tag('icons/sewer.png', class: "icon_image_popup")
      when "Pothole"
        image_tag('icons/pothole.svg', class: "icon_image_popup")
      when "other"
        image_tag('icons/other.png', class: "icon_image_popup")
      when "Street Light"
        image_tag('icons/broken_light.png', class: "icon_image_popup")
      when "Exterminate"
        image_tag('icons/rat.png', class: "icon_image_popup")
      end %>
      </div>
    <p class="card-address"><span class="text-topic"></span><%= report.location.match(/(?<address>.*), Tel Aviv/i)[:address] %></p>
    <% unless report.description == "" %>
    <p class="card-description"><span class="text-topic">Description: </span><div style="overflow-y: scroll; height:50px; width:120px;"><%= report.description %></div></p>
    <% end %>
    <div class="category-flex">
      </div>
      <div class="upvotes">
      <div class="product-upvote" data-report-id="<%= report.id %>" >
        <span data-report-id="<%= report.id %>" class="upvote_number"><%= report.votes.count %></span>
      </div>
      <div class="upvotemachine"><%= link_to vote_up_report_path(report), :method => :post, remote: true do %></div>
        <i class="fa fa-thumbs-up fa-2x like can-vote" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
 <!--    <div class="footer">
    </div> -->
  </div>
